:root {
   --primary-color: #47E6F5;
   --primary-color-transparent: rgb(71, 230, 245, 0.8);
   --secondary-color: #F5715F;
   --complementary-color: #F5B32F;
   --primary-color-hover: #2FB3BF;
   --primary-color-hover-transparent: rgb(47, 179, 191, 0.5);
   --secondary-color-hover: #DB4D39;
   --complementary-color-hover: #D99C21;
   --highligth-color: #F3F3F3;
   --darktheme-color: #283C47;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}


/* HEADER */
nav {
   background-color: var(--primary-color-transparent);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   height: 100px;
   width: 100%;
   position: fixed;
   z-index: 99;
   transition: background 0.5s ease;
}

nav .logo {
   width: 20rem;
   padding: 1.5rem;
   text-align: center;
   width: 20%;
}

nav .logo h1 {
   color: var(--secondary-color);
   font-family: 'Pacifico', cursive;
   font-size: 3.6rem;
   line-height: 3rem;
}

nav ul {
   align-items: center;
   display: inline-flex;
   height: 10rem;
   width: 70%;
   float: right;
}

nav a {
   text-decoration: none;
   color: var(--highligth-color);
   text-shadow: 0.4rem 0.4rem 1rem var(--darktheme-color);
}

nav a:hover {
   color: var(--secondary-color);
   transition: all 100ms;
   border-bottom: solid var(--secondary-color-hover);
}

nav li {
   list-style: none;
   font-size: 2.4rem;
   font-family: 'Fredoka One', cursive;
   align-items: center;
   padding: 1rem 4rem 1rem 4rem;
}

nav .bar {
   height: 10rem;
   width: 10%;

}

nav .checkbtn {
   font-size: 4rem;
   color: var(--complementary-color);
   font-weight: bold;
   float: right;
   cursor: pointer;
   line-height: 10rem;
   margin-right: 5rem;
   display: none;
}

#check {
   display: none;
}

/* OVERVIEW */
.overview {
   background: linear-gradient(rgba(40, 60, 71, 0.5), rgba(40, 60, 71, 0.5)), url("../assets/img/cartelera/overviewbackground.png");
   background-position: top center;
   background-size: cover;
   height: 100vh;
   padding: 6rem 2rem 6rem 2rem;
   width: 100%;
   top: -10rem;
   display: flex;
   align-items: center;
   z-index: -1;
}

.overview .content {
   margin: auto;
   width: auto;
   overflow: auto;
   display: flex;
   flex-direction: column;
   gap: 5rem;
}

.overview .content h2 {
   color: var(--complementary-color-hover);
   font-family: 'Quicksand';
   font-weight: 700;
   text-align: center;
   width: auto;
   font-size: 3rem;

}

.nav-tabs {
   justify-content: space-evenly;
}

.nav .nav-item {
   font-size: 2rem;
}

.nav .nav-item .nav-link,
.nav .nav-item .nav-link.active {
   color: white;
   background-color: transparent;
   border: none;
   text-align: center;
}

.nav .nav-item .nav-link.active {
   border-bottom: 0.3rem solid var(--secondary-color-hover);
}

.overview .content .tab-content .tab-pane {
   display: flex;
   margin-top: 1rem;
   overflow: auto;
}

.overview .scroll-section {
   display: grid;
   overflow-x: auto;
   scroll-behavior: smooth;
   height: auto;
   width: 100%;
   grid-template-columns: repeat(5, auto);
   gap: 1rem;
   transition: 0.5s ease;
}

.overview .scroll-section::-webkit-scrollbar {
   width: 1.2rem;
}

::-webkit-scrollbar-thumb {
   background: linear-gradient(transparent, var(--secondary-color));
   border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(transparent, var(--secondary-color-hover));
}

.overview .content .tab-content .tab-pane .dia {
   font-family: 'Quicksand';
   background-color: white;
   width: fit-content;
   padding: 1rem 2rem 1rem 2rem;
}

.overview .content .tab-content .tab-pane .dia h3 {
   color: var(--primary-color);
   font-size: 2rem;
   font-family: 'Quicksand';
   font-weight: 600;
   text-align: center;
}

.overview .content .tab-content .tab-pane .dia p {
   text-align: center;
   font-size: 1.5rem;
   font-family: 'Quicksand';
}


/* MOVIES */

.movies {
   background: linear-gradient(rgba(245, 114, 95, 0.5), rgba(245, 114, 95, 0.5)), url("../assets/img/cartelera/moviesbackground.png");
   background-position: center center;
   background-size: cover;
   height: auto;
   padding: 5rem 2.5rem 5rem 2.5rem;
   width: 100%;
   top: -10rem;
   display: flex;
   align-items: center;
   z-index: -1;
}

.movies .content {
   width: auto;
   margin: auto;
   height: auto;
   justify-content: center;
   overflow-x: auto;
}

.movies .content h2 {
   text-align: center;
   font-size: 3rem;
   color: white;
   margin-bottom: 2rem;
   font-family: 'Quicksand';
   font-weight: 600;
}

.movies .scroll-section {
   display: grid;
   overflow-x: auto;
   scroll-behavior: smooth;
   height: auto;
   width: 100%;
   grid-template-columns: repeat(3, auto);
   gap: 1rem;
   transition: 0.5s ease;
}

.movies .scroll-section::-webkit-scrollbar {
   width: 1.2rem;
}

.movies ::-webkit-scrollbar-thumb {
   background: linear-gradient(transparent, var(--primary-color));
   border-radius: 6px;
}

.movies ::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(transparent, var(--primary-color-hover));
}


.movies .content .scroll-section .movie {
   width: 25rem;
   padding: 1rem;
}

.movies .content .scroll-section .movie h3 {
   width: 100%;
   font-family: 'Quicksand';
   font-size: 2rem;
   font-weight: 600;
   color: white;
   padding: 1rem 3rem 1rem 3rem;
   text-align: center;
   margin: 0;
}

.movies .content .scroll-section .movie h3.lastweek {
   background-color: var(--secondary-color-hover);
}

.movies .content .scroll-section .movie img {
   height: auto;
   width: 100%;
}

.movies .content>h3 {
   color: var(--primary-color);
   text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 1);
   font-family: 'Quicksand';
   text-align: center;
   font-size: 2rem;
}

@media only screen and (max-width: 480px) {

   nav .checkbtn {
      display: block;
   }

   nav {
      justify-content: space-between;
   }

   nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: var(--primary-color-hover-transparent);
      top: 10rem;
      left: -100%;
      display: list-item;
      text-align: center;
      transition: .5s;
   }

   nav li {
      margin: 3rem 0;
      line-height: 1rem;
      display: block;
      font-size: 2rem;
      padding: 1rem 2rem 1rem 2rem;
   }


   nav .bar-btn {
      display: block;
   }

   #check:checked~ul {
      left: 0;
   }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

   nav .checkbtn {
      display: block;
   }

   nav {
      justify-content: space-between;
   }

   nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: var(--primary-color-hover-transparent);
      top: 10rem;
      left: -100%;
      display: list-item;
      text-align: center;
      transition: .5s;
   }

   nav li {
      margin: 3rem 0;
      line-height: 1rem;
      display: block;
      font-size: 2rem;
      padding: 1rem 2rem 1rem 2rem;
   }


   nav .bar-btn {
      display: block;
   }

   #check:checked~ul {
      left: 0;
   }

}

@media only screen and (min-width: 1024px){

   .overview .content h2 {
      font-size: 5rem;
   }
   
   .nav-tabs {
      justify-content: space-evenly;
   }
   
   .nav .nav-item {
      font-size: 3rem;
   }

   .overview .content .tab-content .tab-pane .dia>h3 {
      font-size: 3rem;
   }
   
   .overview .content .tab-content .tab-pane .dia p{
      font-size: 2.5rem;
   }
   
   .movies .content{
      overflow: hidden;
   }

   .movies .content>h3{
      font-size: 3rem;
   }

}