:root {
   --primary-color: #47E6F5;
   --primary-color-transparent: rgb(71, 230, 245, 0.8);
   --secondary-color: #F5715F;
   --complementary-color: #F5B32F;
   --primary-color-hover: #2FB3BF;
   --primary-color-hover-transparent: rgb(47, 179, 191, 0.5);
   --secondary-color-hover: #DB4D39;
   --complementary-color-hover: #D99C21;
   --highligth-color: #F3F3F3;
   --darktheme-color: #283C47;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}


/* HEADER */
nav {
   background-color: var(--primary-color-transparent);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   height: 100px;
   width: 100%;
   position: fixed;
   z-index: 99;
   transition: background 0.5s ease;
}

nav .logo {
   width: 20rem;
   padding: 1.5rem;
   text-align: center;
   width: 20%;
}

nav .logo h1 {
   color: var(--secondary-color);
   font-family: 'Pacifico', cursive;
   font-size: 3.6rem;
   line-height: 3rem;
}

nav ul {
   align-items: center;
   display: inline-flex;
   height: 10rem;
   width: 70%;
   float: right;
}

nav a {
   text-decoration: none;
   color: var(--highligth-color);
   text-shadow: 0.4rem 0.4rem 1rem var(--darktheme-color);
}

nav a:hover {
   color: var(--secondary-color);
   transition: all 100ms;
   border-bottom: solid var(--secondary-color-hover);
}

nav li {
   list-style: none;
   font-size: 2.4rem;
   font-family: 'Fredoka One', cursive;
   align-items: center;
   padding: 1rem 4rem 1rem 4rem;
}

nav .bar {
   height: 10rem;
   width: 10%;

}

nav .checkbtn {
   font-size: 4rem;
   color: var(--complementary-color);
   font-weight: bold;
   float: right;
   cursor: pointer;
   line-height: 10rem;
   margin-right: 5rem;
   display: none;
}

#check {
   display: none;
}

/* CONFITERIA */

.confiteria {
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/comidas/confiteriabackground.png");
   background-position: center center;
   background-size: cover;
   height: auto;
   padding: 15rem 3rem 10rem 3rem;
   width: 100%;
   top: -10rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   z-index: -1;
}

.confiteria h2 {
   color: var(--secondary-color-hover);
   font-family: 'Quicksand';
   font-size: 3rem;
}

.confiteria p {
   margin-top: 2rem;
   color: white;
   font-family: 'Quicksand';
   font-size: 2rem;
   width: 25rem;
}

.confiteria p span {
   color: var(--primary-color);
   font-size: 2rem;
   font-family: 'Quicksand';
}


/* INDIVIDUALES */

.individuales {
   background: linear-gradient(rgba(40, 60, 71, 0.75), rgba(40, 60, 71, 0.75)), url("../assets/img/comidas/individualesbackground.png");
   background-position: center center;
   background-size: cover;
   height: auto;
   width: 100%;
   top: -10rem;
   padding: 0rem 3rem 3rem 3rem;
   justify-content: center;
}

.individuales h2 {
   font-family: 'Quicksand';
   color: white;
   font-size: 3rem;
   padding: 3rem 1rem 0rem 1rem;
   text-align: center;
}

.individuales .content {
   width: 100%;
   height: auto;
   overflow: auto;
}

.scroll-section {
   display: grid;
   overflow-x: auto;
   scroll-behavior: smooth;
   height: auto;
   width: 100%;
   margin-top: 5%;
   grid-template-columns: repeat(2, auto);
   gap: 24px;
   transition: 0.5s ease;
   padding: 1rem 1rem 1rem 1rem;
}

.scroll-section::-webkit-scrollbar {
   width: 1.2rem;
}

::-webkit-scrollbar-thumb {
   background: linear-gradient(transparent, var(--secondary-color));
   border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(transparent, var(--secondary-color-hover));
}


.individuales .scroll-section .column {
   width: auto;
   display: grid;
   font-family: 'Quicksand';
   grid-template-columns: auto auto;

   text-align: center;
}

.individuales .scroll-section .column .description {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   color: white;
   font-size: 2rem;

}

.individuales .scroll-section .column .description h3 {
   color: white;
   font-size: 3rem;
   font-family: 'Quicksand';
   text-align: center;
   width: 25rem;
}

.individuales .scroll-section img {
   height: auto;
   width: 15rem;
   align-self: center;
   margin: 0 auto 0 auto;
}

/* COMBOS */

.combos {
   background: url("../assets/img/comidas/combos_background.png");
   background-position: center center;
   background-size: cover;
   height: auto;
   width: 100%;
   top: -10rem;
   padding: 0rem 2rem 3rem 2rem;
   justify-content: center;
}

.combos h2 {
   font-family: 'Quicksand';
   color: white;
   font-size: 3rem;
   padding: 3rem 1rem 0rem 1rem;
   text-align: center;
}

.combos .content {
   width: 100%;
   height: auto;
   overflow: auto;
}

.combos .scroll-section {
   display: grid;
   overflow-x: auto;
   scroll-behavior: smooth;
   height: auto;
   width: 100%;
   margin-top: 5%;
   gap: 24px;
   transition: 0.5s ease;
   padding: 1rem 1rem 1rem 1rem;

   grid-template-columns: repeat(2, auto);
   grid-template-rows: repeat(2, auto);
}

.combos .scroll-section::-webkit-scrollbar {
   width: 1.2rem;
}

::-webkit-scrollbar-thumb {
   background: linear-gradient(transparent, var(--secondary-color));
   border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(transparent, var(--secondary-color-hover));
}

.combos .scroll-section .element {
   background-color: rgba(0, 0, 0, 0.6);
   border-radius: 1rem;
   padding: 2rem;
   color: white;
   font-size: 2rem;
   font-family: 'Quicksand';
   width: auto;
   text-align: center;
   float: right;
   list-style-position: inside;
   justify-content: center;
}

@media only screen and (max-width: 479px) {
   nav .checkbtn {
      display: block;
   }

   nav {
      justify-content: space-between;
   }

   nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: var(--primary-color-hover-transparent);
      top: 10rem;
      left: -100%;
      display: list-item;
      text-align: center;
      transition: .5s;
   }

   nav li {
      margin: 3rem 0;
      line-height: 1rem;
      display: block;
      font-size: 2rem;
      padding: 1rem 2rem 1rem 2rem;
   }


   nav .bar-btn {
      display: block;
   }

   #check:checked~ul {
      left: 0;
   }

}

@media only screen and (min-width: 480px) and (max-width: 539px) {
   nav .checkbtn {
      display: block;
   }

   nav {
      justify-content: space-between;
   }

   nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: var(--primary-color-hover-transparent);
      top: 10rem;
      left: -100%;
      display: list-item;
      text-align: center;
      transition: .5s;
   }

   nav li {
      margin: 3rem 0;
      line-height: 1rem;
      display: block;
      font-size: 2rem;
      padding: 1rem 2rem 1rem 2rem;
   }


   nav .bar-btn {
      display: block;
   }

   #check:checked~ul {
      left: 0;
   }

   .confiteria h2 {
      font-size: 4rem;
   }

   .confiteria p {
      width: 40rem;
      font-size: 2.5rem;
   }

   .confiteria p span {
      font-size: 2.5rem;
   }

}

@media only screen and (min-width: 540px) and (max-width: 839px) {
   nav .checkbtn {
      display: block;
   }

   nav {
      justify-content: space-between;
   }

   nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: var(--primary-color-hover-transparent);
      top: 10rem;
      left: -100%;
      display: list-item;
      text-align: center;
      transition: .5s;
   }

   nav li {
      margin: 3rem 0;
      line-height: 1rem;
      display: block;
      font-size: 2rem;
      padding: 1rem 2rem 1rem 2rem;
   }


   nav .bar-btn {
      display: block;
   }

   #check:checked~ul {
      left: 0;
   }

}

@media only screen and (min-width: 840px) and (max-width: 1219px) {
   nav {
      height: 100px;
      justify-content: space-between;
   }

   nav .logo {
      width: 20rem;
   }

   nav .logo h1 {
      font-size: 3rem;
      line-height: 3rem;
   }

   nav ul {
      align-items: center;
      display: inline-flex;
      height: 10rem;
      width: auto;
      float: right;
   }

   nav ul li {
      list-style: none;
      font-size: 2rem;
      font-family: 'Fredoka One', cursive;
      align-items: center;
      padding: 1rem 2rem 1rem 2rem;
   }
}

@media (min-width: 1220px) {
   nav {
      height: 100px;
      align-items: center;
   }

   nav .logo {
      width: 20rem;

   }

   nav .logo h1 {
      font-size: 3.6rem;
      line-height: 3rem;
   }

   nav ul {
      align-items: center;
      display: inline-flex;
      height: 10rem;
      width: auto;
      float: right;
   }

   nav ul li {
      list-style: none;
      font-size: 2.4rem;
      font-family: 'Fredoka One', cursive;
      align-items: center;
      padding: 1rem 4rem 1rem 4rem;
   }

   .confiteria h2 {
      font-size: 5rem;
   }

   .confiteria p,
   .confiteria p span {
      width: 55rem;
      font-size: 3.5rem;
   }

   .individuales .scroll-section .column .description h3 {
      text-align: center;
      width: 100%;
   }

}