:root {
    --primary-color: #47E6F5;
    --primary-color-transparent: rgb(71, 230, 245, 0.8);
    --secondary-color: #F5715F;
    --complementary-color: #F5B32F;
    --primary-color-hover: #2FB3BF;
    --primary-color-hover-transparent: rgb(47, 179, 191, 0.5);
    --secondary-color-hover: #DB4D39;
    --complementary-color-hover: #D99C21;
    --highligth-color: #F3F3F3;
    --darktheme-color: #283C47;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


/* HEADER */
nav {
    background-color: var(--primary-color-transparent);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 99;
    transition: background 0.5s ease;
}

nav .logo {
    width: 20rem;
    padding: 1.5rem;
    text-align: center;
    width: 20%;
}

nav .logo h1 {
    color: var(--secondary-color);
    font-family: 'Pacifico', cursive;
    font-size: 3.6rem;
    line-height: 3rem;
}

nav ul {
    align-items: center;
    display: inline-flex;
    height: 10rem;
    width: 70%;
    float: right;
}

nav a {
    text-decoration: none;
    color: var(--highligth-color);
    text-shadow: 0.4rem 0.4rem 1rem var(--darktheme-color);
}

nav a:hover {
    color: var(--secondary-color);
    transition: all 100ms;
    border-bottom: solid var(--secondary-color-hover);
}

nav li {
    list-style: none;
    font-size: 2.4rem;
    font-family: 'Fredoka One', cursive;
    align-items: center;
    padding: 1rem 4rem 1rem 4rem;
}

nav .bar {
    height: 10rem;
    width: 10%;

}

nav .checkbtn {
    font-size: 4rem;
    color: var(--complementary-color);
    font-weight: bold;
    float: right;
    cursor: pointer;
    line-height: 10rem;
    margin-right: 5rem;
    display: none;
}

#check {
    display: none;
}

/* MAIN */

/*BIENVENIDOS*/
.bienvenidos {
    background-image: url("/assets/img/fondobienvenidos.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    top: -10rem;
    z-index: -1;
}

.bienvenidos p {
    position: relative;
    font-size: 3rem;
    font-family: 'Quicksand';
    color: white;
    width: 50%;
    text-shadow:
        0 0 2rem var(--complementary-color), 0 0 2rem var(--complementary-color), 0 0 2rem var(--complementary-color),
        0 0 2rem var(--complementary-color), 0 0 2rem var(--complementary-color), 0 0 2rem var(--complementary-color),
        0 0 2rem var(--complementary-color), 0 0 2rem var(--complementary-color), 0 0 2rem var(--complementary-color),
        0 0 2rem var(--complementary-color), 0 0 2rem var(--complementary-color), 0 0 2rem var(--complementary-color);
    text-align: center;
    top: 40%;
    left: 25%;
}

/*PELICULAS*/
.peliculas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/sectionmovies.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5%;
    position: relative;
    padding-left: 6%;
    padding-right: 6%;
}

.movies{
    display: grid;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin-top: 5%;
    grid-template-columns: repeat(6, 260px);
    gap: 24px;
}

.movies::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, var(--secondary-color));
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, var(--secondary-color-hover));
}

.peliculas h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 2.6rem;
    line-height: 3rem;
    text-align: center;
    padding-top: 4%;
    color: var(--highligth-color);
    text-shadow: 5px 5px 5px var(--darktheme-color);
}

.peliculas .content .movies .column{
    width: auto;
    margin: 0 auto;
}

.peliculas .content .movies h3 {
    color: white;
    font-size: 2rem;
    font-family: 'Quicksand';
    padding: 0.5rem 2rem 0.5rem 2rem;
    text-align: center;
    width: 26rem;
}

.peliculas .content .movies .lastweek h3 {
    background-color: var(--secondary-color-hover);
}

.peliculas .content .movies .new h3 {
    background-color: var(--complementary-color-hover);
}

.peliculas .content .movies .next h3 {
    background-color: var(--primary-color-hover);
}

.peliculas .content .movies img {
    height: 37rem;
    width: 26rem;
}

/*ARROWS*/
.table-go-right{
    position: absolute;
    right: 0px;
    padding: 15px;
    margin-top: -240px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--secondary-color), var(--secondary-color-hover));
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.table-go-left{
    right: auto;
    left: 0px;
}

/*COMIDA*/
.comida {
    background-image: linear-gradient(rgba(255, 196, 0, 0.5),var(--complementary-color)), url("../assets/img/sectioncomida.jpg");
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.comida h2{
    font-family: 'Fredoka One', cursive;
    font-size: 2.6rem;
    line-height: 3rem;
    text-align: center;
    padding-top: 4%;
    color: var(--highligth-color);
    text-shadow: 5px 5px 5px var(--darktheme-color);
}

.comida .wrapper{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 5%;
}

.comida .wrapper .columna-derecha{
    display: grid;
    grid-template-rows: 80% 20%;
    justify-content: center;
}

.wrapper .columna-derecha .oferta{
    min-width: 260px;
    max-width: 500px;
    padding: 10%;
    justify-content: center;
    font-family: 'Quicksand';
    font-size: 2.2rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--highligth-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.wrapper .columna-derecha .oferta img{
    margin-top: 20px;
}

.wrapper .columna-derecha .call-to-action{
    background-color: transparent;
    margin: auto;
}

.call-to-action a{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: solid var(--highligth-color);
    box-shadow: 4px 4px 0 var(--primary-color);
    text-decoration: none;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 2rem;
    color: var(--highligth-color);
    background-color: var(--primary-color);
}

.call-to-action a:hover{
    background-color: var(--primary-color-hover);
    box-shadow: 4px 4px 0 var(--primary-color-hover);
}

.comida .wrapper .columna-izquierda{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.wrapper .columna-izquierda .combo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Quicksand';
    width: 260px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    border: solid 5px var(--highligth-color);
    border-radius: 10px;
}

.wrapper .columna-izquierda .combo img{
    margin: auto 0;
    width: 130px;
    height: 130px;
}

.columna-izquierda .combo--informacion{
    align-self: center;
    padding-left: 5px;
}

.combo--informacion h3{
    color: var(--secondary-color);
    font-size: 2rem;
    text-align: center;
}

.combo--informacion p{
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: center;
}

/*FOOTER*/
.pie-pagina {
    height: 100%;
    width: 100%;
    background-color: var(--darktheme-color);
}

.pie-pagina .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
}

.pie-pagina .grupo-1 .box {
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.pie-pagina .grupo-1 .box h2 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 2.4rem;
    color: var(--complementary-color);
}

.pie-pagina .grupo-1 .box p {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    color: var(--highligth-color);
    margin-bottom: 1rem;
}

.pie-pagina .grupo-1 .red-social {
    height: 80%;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.pie-pagina .grupo-1 .red-social a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--secondary-color);
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--highligth-color);
    text-align: center;
    transition: all 300ms;
    box-shadow: 2rem 2rem 2rem var(--darktheme-color);
    border-radius: 30px;
}

.pie-pagina .grupo-1 .red-social a:hover {
    background-color: var(--primary-color-hover);
    color: var(--complementary-color);
}

.pie-pagina .grupo-2 {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--highligth-color);
    margin-top: 2rem;
    text-align: center;
}

.pie-pagina .grupo-2 small {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    color: var(--darktheme-color);
}

@media (max-width: 1220px) {
    nav li {
        font-size: 2rem;
        padding: 1rem 1.4rem 1rem 1.4rem;
    }

    .pie-pagina .grupo-1 {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2);
        grid-gap: 3rem;
    }

    .comida .wrapper{
        grid-template-columns: 1fr;
    }

    .comida .wrapper .columna-derecha{
        order: 1;
    }

    .comida .wrapper .columna-izquierda{
        order: 2;
    }
}

@media (max-width: 840px) {
    nav .checkbtn {
        display: block;
    }

    nav {
        justify-content: space-between;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--primary-color-hover-transparent);
        top: 10rem;
        left: -100%;
        display: list-item;
        text-align: center;
        transition: .5s;
    }

    nav li {
        margin: 3rem 0;
        line-height: 1rem;
        display: block;
        font-size: 2rem;
        padding: 1rem 2rem 1rem 2rem;
    }


    nav .bar-btn {
        display: block;
    }

    #check:checked~ul {
        left: 0;
    }

    .pie-pagina .grupo-1 {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem;
    }
    
    .bienvenidos p{
        font-size: 2.4rem;
    }

    .comida .wrapper{
        grid-template-columns: 1fr;
        min-width: 320px;
        row-gap: 20px;
    }

    .comida .wrapper .columna-izquierda{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 520px){
    
    nav{
        height: 60px;
    }

    nav .logo h1{
        font-size: 2rem;
        line-height: 2.2rem;
        margin-top: -10px;
    }

    .bienvenidos p{
        font-size: 2rem;
    }

    nav .checkbtn {
    font-size: 4rem;
    line-height: 60px;
    margin-right: 50px;
    }

    nav ul{
        top: 60px;
    }
}