:root {
    --primary-color: #47E6F5;
    --primary-color-transparent: rgb(71, 230, 245, 0.8);
    --secondary-color: #F5715F;
    --complementary-color: #F5B32F;
    --primary-color-hover: #2FB3BF;
    --primary-color-hover-transparent: rgb(47, 179, 191, 0.5);
    --secondary-color-hover: #DB4D39;
    --complementary-color-hover: #D99C21;
    --highligth-color: #F3F3F3;
    --darktheme-color: #283C47;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}


/* HEADER */
nav{
    background-color: var(--primary-color-transparent);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height:10rem;
    width: 100%;
    position: fixed;
    z-index: 99;
    transition: background 0.5s ease;
}

nav .logo{
    width: 20rem;
    padding: 1.5rem;
    text-align: center;
    width: 20%;
}

nav .logo h1{
    color: var(--secondary-color);
    font-family: 'Pacifico', cursive;
    font-size: 3.6rem;
    line-height: 3rem;
}

nav ul{
    align-items: center;
    display: inline-flex;
    height: 10rem;
    width: 70%;
    float: right;
}

nav a{
    text-decoration: none;
    color: var(--highligth-color);
    text-shadow: 0.4rem 0.4rem 1rem var(--darktheme-color);
}


nav li{
    list-style: none;
    font-size: 2.4rem;
    font-family: 'Fredoka One', cursive;
    align-items: center;
    padding: 1rem 4rem 1rem 4rem;
}

nav .bar{
    height: 10rem;
    width: 10%;
    
}

nav .checkbtn{
    font-size: 4rem;
    color: var(--complementary-color);
    font-weight: bold;
    float: right;
    cursor: pointer;
    line-height: 10rem;
    margin-right: 5rem;
    display: none;
}

#check{
    display: none;
}

/* MAIN */

/*BIENVENIDOS*/
.bienvenidos{
    background-image: url("/images/fondobienvenidos.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    top: -10rem;
    z-index: -1;
}

/*PELICULAS*/
.peliculas{
    background-image: url("/images/sectionmovies.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.peliculas::after {
    content: "";
    position: absolute;
    height:100vh;
    width:100%;
    background-color:var(--darktheme-color);
    opacity: 0.9;
}

/*COMIDA*/
.comida{
    background-image: url("/images/sectioncomida.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.comida::after {
    content: "";
    position: absolute;
    height:100vh;
    width:100%;
    background-color:var(--complementary-color);
    opacity: 0.7;
}

/*FOOTER*/
.pie-pagina{
    height: 100%;
    width: 100%;
    background-color: var(--darktheme-color);
}

.pie-pagina .grupo-1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
}

.pie-pagina .grupo-1 .box{
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box h2{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 2.4rem;
    color: var(--complementary-color);
}

.pie-pagina .grupo-1 .box p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    color: var(--highligth-color);
    margin-bottom: 1rem;
}

.pie-pagina .grupo-1 .red-social{
    height: 80%;
    width: 100%;
    display:inline-flex;
    justify-content: space-evenly;
    align-items:center;
}

.pie-pagina .grupo-1 .red-social a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--secondary-color);
    padding: 0.5rem;
    width: 4rem;
    background-color: var(--highligth-color);
    text-align: center;
    transition: all 300ms;
}

.pie-pagina .grupo-2{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--highligth-color);
    margin-top: 2rem;
    text-align: center;
}

.pie-pagina .grupo-2 small{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    color: var(--darktheme-color);
}

@media (max-width: 1220px){
    nav li{
        font-size: 2rem;
        padding: 1rem 1.4rem 1rem 1.4rem;
    }

    .pie-pagina .grupo-1{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2);
        grid-gap: 3rem;
    }
}

@media (max-width: 840px){
    nav .checkbtn{
        display: block;
    }

    nav{
        justify-content: space-between;
    }
    
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--primary-color-hover-transparent);
        top: 10rem;
        left: -100%;
        display: list-item;
        text-align: center;
        transition: .5s;
    }

    nav li{
        margin: 3rem 0;
        line-height: 1rem;
        display: block;
        font-size: 2rem;
        padding: 1rem 2rem 1rem 2rem;
    }


    nav .bar-btn{
        display: block;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .pie-pagina .grupo-1{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem;
    }
}